# Pandas - ciąg dalszy

In [1]:
import pandas as pd
import os

df=pd.read_csv

#### Dodatkowe przydane funkcje

Licznik wartości występujących w serii

`.value_counts` i indeksowanie wyniku

In [ ]:
print(example_df["name"].value_counts())

imie = "Bartek"
liczba = example_df["name"].value_counts()[imie]
print(f"\n{imie} jest {liczba} razy")

Unikalne elementy i ich liczba

`.unique` i `.nunique`

In [ ]:
print(example_df["name"].unique())
print(example_df["name"].nunique())
print(example_df["name"].nunique() == len(example_df["name"]))

Wykonanie funkcji na każdym elemencie

`.apply` nawet z własnymi funkcjami i lambdami

In [ ]:
def funk(element):
    return element + 1

print(example_df["value"].apply(funk))
print(example_df["value"].apply(lambda x: x ** 2))

Usunięcie duplikatów

Czy są? `.duplicated`

`.drop_duplicates` z opcjonalnym argumentem `subset`

Domyślnie zwraca kopie i trzeba pamiętać o indeksach! `.reset_index`

In [ ]:
temp_1 = example_df.copy()
print(temp_1)
print(temp_1.duplicated().any())
print(temp_1.drop_duplicates())
print(temp_1.drop_duplicates().reset_index())
print(temp_1.drop_duplicates().reset_index(drop=True))
print(temp_1.drop_duplicates(subset=["name"], keep="last").reset_index(drop=True))

Wybieranie losowej próby

`.sample` z argumentami `n` i `frac`

i opcjonalne `.sort_index` z `inplace=True`

In [ ]:
print(example_df.sample(n=3))
print(example_df.sample(frac=0.5))
print(example_df.sample(frac=0.5).sort_index())

#### Łączenie dataframe'ów

Opcja pierwsza, dodaj wiersze - `pd.concat`

i co gdy są różne kolumny?

In [ ]:
more_data = {
    "name": ["Bartek", "Andrzej", "Iwona", "Bartek"],
    "value": [11, 33, 4, 10]
}
more_df = pd.DataFrame(more_data)

In [ ]:
result_df = pd.concat([example_df, more_df])
result_df.loc[0]

In [ ]:
print(pd.concat([example_df, more_df]))
print(pd.concat([example_df, more_df]).reset_index(drop=True))

Opcja druga, dodaj kolumny. Podejście pierwsze `pd.concat` z opcjonalnym argumentem `axis=1`

I co gdy wierszy jest mniej?

In [ ]:
more_features = {
    "name": ["Cyryl", "Bartek", "Cyryl", "Bartek", "Andrzej", "Metody", "Bartek", "Jarek", "Bartek", "Bartek"],
    "other_value": [0.1, 4.3, 64.2, 1.5, 7.6, 0.4, 8.4, 9.2, 9.7, 4.4]
}
more_feat_df = pd.DataFrame(more_features)

In [ ]:
print(pd.concat([example_df, more_feat_df], axis=1))

Łączenie kolumnami w kontrolowany sposób

`pd.merge` z argumentami `how` i `on`

In [ ]:
unique_ex_df = example_df.drop_duplicates(subset=["name"]).reset_index(drop=True)
unique_more_df = more_feat_df.drop_duplicates(subset=["name"]).reset_index(drop=True)
print(unique_ex_df)
print(unique_more_df)

In [ ]:
pd.merge(unique_ex_df, unique_more_df, on="name", how="left")

In [ ]:
pd.merge(unique_ex_df, unique_more_df, on="name", how="right")

In [ ]:
pd.merge(unique_ex_df, unique_more_df, on="name", how="inner")

In [ ]:
pd.merge(unique_ex_df, unique_more_df, on="name", how="outer")

#### Radzenie sobie z NaNami

`.isna`, `.dropna`, `.fillna`

In [ ]:
result_df = pd.merge(unique_ex_df, unique_more_df, on="name", how="outer")
print(result_df.isna())
print(result_df.dropna())
print(result_df.fillna(0.0))

#### Grupowanie

`.groupby` z argumentem `by`

In [ ]:
grouped_df = example_df.groupby(by="name")

for key, item in grouped_df:
    print(grouped_df.get_group(key))
    print()

Operacje na grupach

`.sum`, `.mean`, `.max`, `.min`, `.count`

In [ ]:
print(grouped_df.sum())
print(grouped_df.mean())
print(grouped_df.max())
print(grouped_df.min())
print(grouped_df.count())

Dla groupby po wielu rzeczach

In [ ]:
example_data = {
    "name": ["Andrzej", "Bartek", "Cyryl", "Bartek", "Cyryl", "Metody", "Andrzej", "Iwona", "Iwona", "Bartek"],
    "value": [1, 43, 64, 1, 76, 4, 8, 9, 9, 44],
    "type": ["A", "B", "A", "B", "A", "B", "A", "B", "A", "B"]
}
example_df = pd.DataFrame(example_data)

grouped_df = example_df.groupby(by=["type", "name"])

for key, value in grouped_df:
    print(key)
    print(value)
    print()

print(grouped_df.sum())